{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://appapi2.test.bankid.com/rp/v5.1/cancel",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"orderRef\":\"bfbfa57b-5f63-43cd-8d5f-5d3b4fc2995e\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        }
      },
      "recorded_at": "Mon, 05 Feb 2024 19:22:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}
