{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://appapi2.test.bankid.com/rp/v5.1/collect",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"orderRef\":\"bfbfa57b-5f63-43cd-8d5f-5d3b4fc2995e\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"orderRef\": \"bfbfa57b-5f63-43cd-8d5f-5d3b4fc2995e\", \"status\": \"complete\", \"completionData\": {\"user\": {\"personalNumber\": \"190000000000\", \"name\": \"Karl Karlsson\", \"givenName\": \"Karl\", \"surname\": \"Karlsson\" }, \"device\": {\"ipAddress\": \"192.168.0.1\" }, \"bankIdIssueDate\": \"2020-02-01\", \"signature\": \"bcd123\", \"ocspResponse\": \"bcd123\" } }"
        }
      },
      "recorded_at": "Sat, 03 Feb 2024 15:19:52 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}
